*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
/* header style */

header{
    background-image:url(Assets/Hero-bg.png);
    /*  */
}


/* nav style  */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 50px 0px; 
}
.logo{
    font-size: 35px;
    color: #4E47FF;
}

.banner_section{
    text-align: center;
    padding:180px 200px 200px 180px; 

    
}

.banner_heading{
    color: #252432;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 40px;
}

/* main styles */

main{
    /* width: 1140px;
    margin: 0px auto;  */
    background-color: aliceblue;
    padding:0px 100px;
}

/* action style */

.action{
    padding:150px 60px; 
    display: flex;
    gap: 100px;
    align-items: center;
}

.action button{
    margin-top: 20px;
}

.action img{
    display: inline-block;
    width: 403px;
    height: 328px;
    border-radius: 30px;
}

.action_heading{
    font-size: 35px;
    font-weight: bold;
}

/* users style */

.users{
    background-color: #4d47ff42;
    padding: 50px 80px;
    border-radius: 24px;
}

.users_heading{
    text-align: center;
    font-size: 35px;
}

.figure_heading{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.users_box{
    display: flex;
    justify-content: space-evenly;
}

/* reviews */

.reviews{
    padding: 150px 0px 0px;
}

.reviews_box{
    display: flex;
    gap: 20px;
}

.reviews_card{
    background-color: #FFFFFF;
    width: 350px;
    height: 230px;
    padding: 15px;
    border-radius: 10px;
}

.reviews_heading{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 40px;
}

.reviewers{
    display: flex;
    gap: 10px;
}


.reviews_text{
    margin: 20px 0px;
}

.date{
    font-family: "Inter", sans-serif;
}

/* get_in style */

.get_in{
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    padding: 71px;
}

.get_heading{
    font-weight: bold;
    font-size: 97px;
}


/* footer style  */

footer{
    text-align: center;
}

.for_cheaping{
    padding: 0px 350px 100px;
}

.footer_heading{
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 10px;
}

ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;
}
/* shared style */

button{
    color:#FFFFFF ;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #7874f5;
    border: 2px solid blueviolet;
    font-weight: bold;
}

    
.btn_2{
    margin-top: 40px;
}

label{
    font-weight: bold;
}

input ,textarea{
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid rgba(112, 112, 112, 0.605);
    border-radius: 10px;
}

.dark-2{
    color: #25243288;
}